@font-face {
  font-family: "iconfont"; /* Project id 3262621 */
  src: url('//at.alicdn.com/t/font_3262621_ftfujj4nayh.woff2?t=1647790684723') format('woff2'),
       url('//at.alicdn.com/t/font_3262621_ftfujj4nayh.woff?t=1647790684723') format('woff'),
       url('//at.alicdn.com/t/font_3262621_ftfujj4nayh.ttf?t=1647790684723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn1:before {
  content: "\e600";
}

.icon-csdn:before {
  content: "\e60a";
}
