@font-face {
  font-family: "iconfont"; /* Project id 3262621 */
  src: url('//at.alicdn.com/t/font_3262621_bi0sda9gh19.woff2?t=1647789167278') format('woff2'),
       url('//at.alicdn.com/t/font_3262621_bi0sda9gh19.woff?t=1647789167278') format('woff'),
       url('//at.alicdn.com/t/font_3262621_bi0sda9gh19.ttf?t=1647789167278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e60a";
}
